<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Cartera de descuentos</h1>
            <h3 class="mb-5">
                <em>Calcula tus descuentos para facturas, letras o recibos</em>
            </h3>
            <a class="btn btn-primary" href="/signin">
                Empecemos
            </a>
        </div>
        <div class="overlay"></div>        
    </header>
</main>