<div class="container p-4">
    <div class="col-md-8 mx-auto">
        <div class="card text-center">
            <div class="card-body">
                <h3>Bienvenido {{user.RazonSocial}} {{user.Nombres}} {{user.ApellidoPaterno}} {{user.ApellidoMaterno}} </h3>
                <a href="/cartera" class="btn btn-primary m-4">
                    Ver mis carteras de descuento
                </a>
            </div>
        </div>
    </div>
</div>