<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Iniciar Sesion</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <input type="number" name="NroDocumento" id="nroDocumento" placeholder="Numero Documento" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Contraseña" id="contraseña" placeholder="Contraseña" class="form-control">
                        </div>     
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Iniciar Sesion
                            </button>
                        </div>                                                 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>